@model CarsLocation.Models.AddRoleModel

@{
    ViewData["Title"] = "AddRole";
     Layout="_LayoutAdmin";
}
<h1 class="text-center">Add Role</h1>
<hr />
<div class="form-center">
    <div class="col-md-4">
        <form asp-action="AddRole" id="addrole-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Role" class="btn btn-primary float-right" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <script src="~/assets/Register.js"></script>
}
